<div id="container">
  <div id="header">
    <div class="avatarSection">
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>

      <div class="nameSection">{{ conversation.username }}</div>
    </div>
    <div class="actionButtons">
      <img src="../../assets/images/attached.svg" />
      <img src="../../assets/images/moreVertIcon.svg" />
    </div>
  </div>

  <div id="body" *ngIf="chats.length > 0">
    <!-- <div
      class="message"
      [ngClass]="{ me: message.sender_id != conversation.id }"
      *ngFor="let message of conversation.messages"
    > -->
    <!-- <div>{{ chats | json }}</div> -->
    <div
      class="message"
      [ngClass]="{ me: message.sender_id != conversation.id }"
      *ngFor="let message of chats"
    >
      <!-- <div>{{ message | json }}</div> -->
      <div class="messageContent">
        {{ message.message_content }}
        <!-- <div class="time">8:21</div> -->
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="smileyIcon">
      <img
        (click)="emojiPickerVisible = !emojiPickerVisible"
        src="../../assets/images/smileIcon.svg"
      />
    </div>
    <div id="textarea">
      <textarea (keyup.enter)="submitMessage($event)"></textarea>
    </div>
    <div id="micIcon">
      <img src="../../assets/images/voiceIcon.svg" />
    </div>
  </div>
</div>
