<div id="container">
  <div id="header">
    <div id="conversation">
      <div id="picture"><img src="../assets/images/avatar.svg" /></div>
      <div id="content">
        <div id="conversationHeader">
          <div class="name">Abc Def</div>
          <div class="status">typing ....</div>
        </div>
      </div>
    </div>
  </div>

  <div id="body">
    <div class="chat-messages">
      <div class="message">
        <span>Hi there!</span>
      </div>
      <div class="message-sent">
        <span>How are you?</span>
      </div>

      <div class="message">
        <span>what are you up to?</span>
      </div>
      <div class="message">
        <span>Lorem Ipsum!</span>
      </div>
      <div class="message-sent">
        <span>I am good</span>
      </div>
      <div class="message-sent">
        <span>How are you?</span>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="chat-input">
      <input type="text" placeholder="Type your message..." />
    </div>
  </div>
</div>
