<body>
  <header>
    <h1>Login</h1>
  </header>
  <section>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Login</button>
    </form>
  </section>

  <section>
    <header>
      <h1>Signup</h1>
    </header>
    <form action="/signup" method="post">
      <input type="email" name="email" placeholder="Email" />
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="fullname" placeholder="Full name" />
      <input type="password" name="password" placeholder="Password" />
      <input
        type="password"
        name="confirmpassword"
        placeholder="Confirm password"
      />
      <input type="text" name="phone" placeholder="Phone number" />

      <button type="submit">Create account</button>
    </form>
  </section>
</body>
