<div id="backgroundHeader"></div>
<div id="bakgroundBody"></div>


<!-- 2 sections users list and chat section -->
<div id="chatContainer">
  
  <!-- sidebar section -->
  <div id="sidebar">
    <!-- <p>this is sidebar</p> -->
    

    <!-- sidebar header -->
    <div id="sidebarHeader">
      <p>sidebar header</p>
    </div>

    <!-- search chat section -->
    <div id="searchChat">
      <img width="15" src="../assets/images/search.png"/>
      <input type="text" placeholder="search or start new chat"/>
      <!-- <p>search chat</p> -->
    </div>


    <!-- chat list section -->
    <div id="sidebarContent">

      <div id="noConversation">
        <p>no conversation</p>
      </div>



    </div>

  </div>

  <!-- chat section -->
  <div id="chat">
    <p>this is chat</p>
  </div>
</div>

<router-outlet></router-outlet>