<!-- <div id="backgroundHeader"></div>
<div id="bakgroundBody"></div> -->

<!-- 2 sections users list and chat section -->
<!-- <div id="chatContainer"> -->
<!-- sidebar section -->
<!-- <app-sidebar
    (conversationClicked)="onConversationSelected($event)"
  ></app-sidebar> -->
<div class="sidebar">
  <app-sidebar></app-sidebar>

  <!-- chat section -->

  <!-- <div id="chat"> -->
  <!-- <div id="chatPlaceholder" *ngIf="!conversation"></div> -->
  <!-- <p>this is chat</p> -->
  <!-- </div> -->

  <app-chat></app-chat>
</div>
<!-- </div> -->

<router-outlet></router-outlet>
