<div id="sidebar">
  <!-- sidebar header -->
  <div id="sidebarHeader">
    <div id="avatar">
      <img src="../assets/images/avatar.svg" />
      <!-- <p>yooo</p> -->
    </div>
    <div id="actions">
      <!-- <p>yup</p> -->
    </div>
    <!-- <p>sidebar header</p> -->
  </div>

  <!-- search chat section -->
  <div id="searchChat">
    <img width="15" src="../assets/images/search.png" />
    <input type="text" placeholder="search or start new chat" />
    <!-- <p>search chat</p> -->
  </div>

  <!-- chat list section -->
  <div id="sidebarContent">
    <div id="noConversation">
      <p>no conversation</p>
    </div>
  </div>
</div>
