<div id="sidebar">
  <!-- sidebar header -->
  <div id="sidebarHeader">
    <div id="avatar">
      <img src="../assets/images/avatar.svg" />
      <!-- <p>yooo</p> -->
    </div>
    <div id="actions">
      <!-- <p>yup</p> -->
    </div>
    <!-- <p>sidebar header</p> -->
  </div>

  <!-- search chat section -->
  <div id="searchChat">
    <img width="15" src="../assets/images/search.png" />
    <input type="text" placeholder="search or start new chat" />
    <!-- <p>search chat</p> -->
  </div>

  <!-- chat list section -->
  <div id="sidebarContent">
    <!-- <div id="noConversation">
      <p>no conversation</p>
    </div> -->

    <!-- <div id="conversation" *ngFor="let conversation of conversations">
      <div id="picture"><img src="../assets/images/avatar.svg" /></div>
      <div id="content">
        <div id="conversationHeader">
          <div class="name">{conversation.name}</div>
          <div class="time">{conversation.time}</div>
        </div>

        <div class="message">{conversation.message}</div>
      </div>
    </div> -->

    <div id="conversation">
      <div id="picture"><img src="../assets/images/avatar.svg" /></div>
      <div id="content">
        <div id="conversationHeader">
          <div class="name">ABC DEF</div>
          <div class="time">3:00 PM</div>
        </div>

        <div class="message">jabba jabba</div>
      </div>
    </div>

    <div id="conversation">
      <div id="picture"><img src="../assets/images/avatar.svg" /></div>
      <div id="content">
        <div id="conversationHeader">
          <div class="name">ABC DEF</div>
          <div class="time">3:00 PM</div>
        </div>

        <div class="message">jabba jabba</div>
      </div>
    </div>
  </div>
</div>
