<div id="sidebar">
  <!-- <p>{{ getJsonValue | json }}</p> -->

  <div id="row1">
    <div id="sidebarHeader">
      <div class="avatarContainer">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="actionsContainer">
        <img src="../../assets/images/statusIcon.svg" />
        <img src="../../assets/images/chatIcon.svg" />
        <img src="../../assets/images/moreVertIcon.svg" />
      </div>
    </div>
    <div id="searchBox">
      <img width="19" src="../../assets/images/searchIcon.svg" />
      <input
        [ngModel]="searchText"
        (keyup.enter)="submitUser($event)"
        placeholder="Search or start the new chat"
      />
    </div>
  </div>

  <div id="sidebarContent">
    <div
      class="conversation"
      *ngFor="let conversation of conversations"
      (click)="conversationClicked.emit(conversation)"
    >
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{ conversation.username }}</div>
          <!-- <div class="time">{{ contactList.time }}</div> -->
          <div class="time">8:21</div>
        </div>
        <div class="message">
          <img
            *ngIf="!conversation.phone"
            src="../../assets/images/doubleTick.svg"
          />

          <img
            *ngIf="conversation.phone"
            src="../../assets/images/doubleTickBlue.svg"
          />
          <!-- {{ conversation.messages[3].body }} -->
        </div>
      </div>
    </div>
  </div>
</div>
