body {
  margin: 0;
  font-family: sans-serif;
  color: #a2a3a4;

  a {
    color: #45bf57;
    text-decoration: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
